service:
  externalPort: 3000
  internalPort: 3000
image:
  secrets:
  - name: skdigital-bonet-registry
# ingress:
#   annotations:
#     nginx.ingress.kubernetes.io/proxy-body-size: 256m
application.migrateCommand: ["zammad-init"]
startupProbe:
  probeType: "exec"
  command: ["true"]
livenessProbe:
  probeType: "exec"
  command: ["true"]
readinessProbe:
  probeType: "exec"
  command: ["true"]
resources:
  requests:
    memory: 600Mi
  limits:
    memory: 800Mi
persistence:
  enabled: true
  volumes:
  - name: zammad-storage
    mount:
      path: /opt/zammad/storage
    claim:
      accessMode: ReadWriteMany
      size: 1Gi
      storageClass: nfs-client
workers:
  worker:
    replicaCount: "1"
    command: ["/docker-entrypoint.sh", "zammad-scheduler"]
    startupProbe:
      probeType: "exec"
      command: ["true"]
    livenessProbe:
      probeType: "exec"
      command: ["true"]
    readinessProbe:
      probeType: "exec"
      command: ["true"]
    resources:
      requests:
        memory: 2Gi
      limits:
        memory: 2.5Gi