service: ops-triage-zammad

image: sd/ops-triage-zammad

servers:
  web:
    cmd: "/opt/zammad_init_and_nginx.sh"
    # TODO might ditch the whole nginx when https://github.com/basecamp/kamal-proxy/issues/48 is implemented
    options:
      "add-host": host.docker.internal:host-gateway

  worker:
    cmd: "zammad-scheduler"
    options:
      "add-host": host.docker.internal:host-gateway

deploy_timeout: 180

proxy:
  ssl: true
  app_port: 8080
  healthcheck:
    path: /
    interval: 10
    timeout: 90

env: &env
  clear:
    NGINX_EXPOSE_PORT: 8080
    NGINX_PORT: 8080

    BACKGROUND_SERVICES_LOG_TO_STDOUT: 1
    POSTGRESQL_DB: ops_triage_zammad_staging
    POSTGRESQL_HOST: host.docker.internal
    POSTGRESQL_USER: ops_triage_zammad
    RAILS_LOG_TO_STDOUT: true
    RAILS_SERVE_STATIC_FILES: true
    REDIS_URL: redis://ops-triage-zammad-redis:6379/1
    ZAMMAD_PROCESS_DELAYED_JOBS_WORKERS: 1
    ZAMMAD_PROCESS_SCHEDULED_JOBS_WORKERS: 1
    
    # TODO use ES in future
    ELASTICSEARCH_ENABLED: false

    POSTGRESQL_DB_CREATE: false

  secret:
    - RAILS_MASTER_KEY
    - POSTGRESQL_PASS

aliases:
  console: app exec --interactive --reuse "bin/rails console"
  shell: app exec --interactive --reuse "bash"
  logs: app logs -f
  dbc: app exec --interactive --reuse "bin/rails dbconsole"
  zammad_init: accessory exec railsserver -i --reuse "zammad-init"

registry: &registry
  server: registry.dev.slovensko.digital
  username:
    - KAMAL_REGISTRY_USERNAME
  password:
    - KAMAL_REGISTRY_PASSWORD

accessories:
  railsserver: &accessory-hack
    registry:
      <<: *registry
    image: "sd/ops-triage-zammad:<%= `git rev-parse HEAD`.strip %>"
    roles:
      - web
      - worker
    volumes:
      - ops_triage_zammad_storage:/opt/zammad/storage
    options:
      "add-host": host.docker.internal:host-gateway
    env:
      <<: *env
    cmd: "zammad-railsserver"

  websocket:
    <<: *accessory-hack
    cmd: "zammad-websocket"

  redis:
    image: redis:7.0
    roles:
      - web
      - worker
    directories:
      - data:/data

builder:
  arch: amd64
  remote: ssh://kamal@dev.slovensko.digital

volumes:
  - ops_triage_zammad_storage:/opt/zammad/storage

# Bridge fingerprinted assets, like JS and CSS, between versions to avoid
# hitting 404 on in-flight requests. Combines all files from new and old
# version inside the asset_path.
#
# asset_path: /app/public/assets

# Configure rolling deploys by setting a wait time between batches of restarts.
#
# boot:
#   limit: 10 # Can also specify as a percentage of total hosts, such as "25%"
#   wait: 2

