servers:
  web:
    hosts:
      - dev.slovensko.digital
  worker:
    hosts:
      - dev.slovensko.digital

x-load-env:
  - "<% require 'dotenv'; Dotenv.load('.env.staging') %>"

proxy:
  host: triage.ops.dev.slovensko.digital

env:
  clear:
    OTHER_RESPONSIBLE_SUBJECT_ID: 410

accessories:
  kibana:
    proxy:
      host: kibana.ops.dev.slovensko.digital

ssh:
  user: kamal
