servers:
  web:
    hosts:
      - dev.slovensko.digital
    proxy:
      host: triage.ops.dev.slovensko.digital
    options:
      memory: 4g

  websocket:
    hosts:
      - dev.slovensko.digital

  worker:
    hosts:
      - dev.slovensko.digital

x-load-env:
  - "<% require 'dotenv'; Dotenv.load('.env.staging') %>"

proxy:
  host: triage.ops.dev.slovensko.digital

env:
  clear:
    WEB_CONCURRENCY: 4
    MAX_THREADS: 15

    OPS_PORTAL_URL: https://ops.dev.slovensko.digital
    OPS_PORTAL_PUBLIC_URL: https://ops.dev.slovensko.digital
    FQDN: triage.ops.dev.slovensko.digital
    PRODUCT_NAME: Triáž - Odkaz pre starostu
    ORGANIZATION: Triáž - Odkaz pre starostu
    ADMIN_EMAIL: <%= ENV.fetch('ADMIN_EMAIL', 'example@example.org') %>
    ADMIN_FIRSTNAME: Superadmin
    ADMIN_LASTNAME: User
    OTHER_RESPONSIBLE_SUBJECT_ID: 410
    Z_LOCALES: "sk:en-us"

    POSTGRESQL_DB: ops_triage_zammad_staging
    POSTGRESQL_HOST: host.docker.internal
    POSTGRESQL_USER: ops_triage_zammad
    POSTGRESQL_OPTIONS: "?pool=100"

accessories:
  elastic:
    env:
      clear:
        ES_JAVA_OPTS: "-Xms1024m -Xmx1024m"
    options:
      memory: 4g

  kibana:
    image: kibana:8.17.3
    roles:
      - web
      - worker
    proxy:
      host: kibana.ops.dev.slovensko.digital
      app_port: 5601
      ssl: true
      healthcheck:
        path: /
        interval: 10
        timeout: 90
    directories:
      - kibana-data:/usr/share/kibana/data
    env:
      clear:
        ELASTICSEARCH_HOSTS: http://ops-triage-zammad-elastic:9200
        ELASTICSEARCH_USERNAME: kibana_system
      secret:
        - ELASTICSEARCH_PASSWORD:KIBANA_PASSWORD

ssh:
  user: kamal
